.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}
